.first-color { 
	background: #222831; 
}
	
.second-color { 
	background: #393e46; 
}

.third-color { 
	background: #f96d00; 
}

.fourth-color { 
	background: #f2f2f2; 
}

body{
    background-color: #f2f2f2;
}

.weather-card{
    width : 180px;
    height : 320px;
    background-color : #222831;
    color : #f2f2f2;
    border-radius: 10%;
    border: 10px solid #f96d00;
    margin : 15px;
    padding : 15px;
    flex-direction: row;
}

.adding{
    display: flex;
    align-items: center;
    justify-content: center;
    transition : all 0.3s;
}

.adding:hover{
    box-shadow : 5px 5px black;
    transform : translateY(-10px) translateX(-10px);
}

.adding > span.icon{
    font-size : 100px;
}

#weather-container{
    display: grid;
    grid-gap: 0px;
}

@media (width <= 520px){
    #weather-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (520px < width <= 780px){
    #weather-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (780px < width ){
    #weather-container{
        grid-template-columns: repeat(3, 1fr);
    }
}

.closeButton{
    border : 1px #f2f2f2 solid;
    border-radius : 25%;
    transition: all 0.2s;
}

.closeButton:active{
    transform : translateY(3px) translateX(3px);
}

.headerWeatherCard{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.bodyWeatherCard{
    width : 100%;
}