.first-color { 
	background: #222831; 
}
	
.second-color { 
	background: #393e46; 
}

.third-color { 
	background: #f96d00; 
}

.fourth-color { 
	background: #f2f2f2; 
}

body{
    background-color: #f2f2f2;
}

.weather-card{
    width : 300px;
    height : 300px;
    background-color : 393e46;
    border-radius: 10%;
    border: 10px solid #f96d00;
}

@media body and (min-width : 415px){
    .weather-card{
        background-color: pink;
        border-radius: 10%;
    }
}

@media body and (min-width : 900px){
    .weather-card{
        background-color: greenyellow;
        border-radius: 10%;
    }
}